@tailwind base;
@tailwind components;
@tailwind utilities;

/* google font */
* {
    font-family: 'Poppins', sans-serif;
}


html {
    scroll-behavior: smooth;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #daeaff
}

::-webkit-scrollbar-thumb {
    background: rgb(66, 66, 66);
    border-radius: 10px;
}